use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_cpp(file => __FILE__);

$config->set_std('c++11');

$config->ext('cc');

$config->optimize('-O0');

$config->ld_optimize('-O0');

my @source_files = qw(
  re2/my.cc
);

$config->add_source_files(@source_files);

$config;
