use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_cpp(file => __FILE__);

$config->set_std('c++11');

$config->ext('cc');

$config->optimize('-O0');

$config->ld_optimize('-O0');

my @source_files = qw(
  re2/my.cc
  re2/dfa.cc
  re2/stringpiece.cc
  re2/bitstate.cc
  re2/unicode_casefold.cc
  re2/re2.cc
  re2/parse.cc
  re2/prog.cc
  re2/regexp.cc
  re2/nfa.cc
  re2/tostring.cc
  re2/compile.cc
  util/strutil.cc
  util/rune.cc
);

$config->add_source_files(@source_files);

$config;
