use strict;
use warnings;

my $config = SPVM::Builder::Config->new_cpp11(file => __FILE__);

my $resource = $config->use_resource('Resource::RE2');

$config->add_ldflags('-pthread');

$config->add_libs('stdc++', 'pthread');

$resource->config->force(1);
$resource->config->quiet(0);

$config->force(1);
$config->quiet(0);

$config;
